<div class="container">
<div class ="card">
    <h2> &nbsp;Find Employee</h2>
    <div class="card-header bg-success text-white">
        <h1>Employee Information</h1>
    </div>
    <div class="card-body">
        <p>Employee ID: {{fetchedEmp.employeeID}}</p>
        <p>Employee Name: {{fetchedEmp.employeeName}}</p>
        <p>Employee Email: {{fetchedEmp.employeeEmail}}</p>
        <p>Employee Phoneno: {{fetchedEmp.employeePhoneNumber}}</p>
        <p>Employee Role: {{fetchedEmp.role}}</p>
    </div>
</div>
</div>

