<div class="min-h-screen bg-gray-100">
    <nav class="bg-white shadow-md py-4 px-6 flex justify-between items-center">
      <div class="text-xl font-semibold">Employee Dashboard</div>
      <ul class="flex space-x-6">
        <li><a class="hover:text-blue-600">View Attendance</a></li>
        <li><a class="hover:text-blue-600">My Leave Requests</a></li>
        <li><a  class="hover:text-blue-600">Apply for Shift</a></li>
        <li><button class="text-red-500 hover:text-red-700" (click)="logout()">Logout</button></li>
      </ul>
  </nav>
</div>